<form action="/categorias/editar/<%= categoria.id %>" method="POST">
  <input placeholder="Insira o nome da categoria" type="text" name="categoria" value="<%= categoria.categoria %>">
  <button type="submit">Salvar</button>
</form>